API_ID = 21588558
API_HASH = fd03266c00cbe43884426d24faf3c58e
BOT_TOKEN = 8033347459:AAGiFA4jJ5ayuJyWMg9R5P5p3pwX295A_Hw
LOG_GROUP_ID = -1002850451600
MONGO_DB_URI = mongodb+srv://mrarya233:PqyVLX3AufQQpMz0@aatma.5frpmsj.mongodb.net/?retryWrites=true&w=majority
OWNER_ID = 6014895515
STRING_SESSION = BQFJak4AqNvzPHyT9_B_kBnVSi7LLzNchepfyr3rZi_h11s_n6wAHyddLaHZrcWblHCPyRkLKapqBfnBKECFQcKYx87unI8SnDcf1XlXgyCR-pADjwlqAXRF5Rr0lWyNJoxFSgTMB5Y2SOIJgbV5oWoVzhxH7zm7usLIYwB3hg1KcgJtWFKsZFl0UjntSXuf92znUJv3HkbGATcAHqyYvUoj51JOD_RgivYnWx3K3D2ylFqFzWI47q-SHg_nBYJphcOuJCgqJ5w7d3L4Nmt33qUN8k-LsCIBiLP0gr_StVKn0q1A-LjRX0-jL3o_YPVMGgIIvJDmk2TcC3MZeoaOr6Y-DYKWHgAAAAHi3cT7AA
STRING_SESSION2 = 

